#contentsStyle {
    border: black;
    border-radius: 10px;
    background: linear-gradient(270deg,#4f6373,#0b273c);
    margin-left: 20%;
    margin-right: 20%;
}

.currencyStyle {
    color: white;
    font-weight: 600;
    padding: 0 5px;
}

#inputBaseAmount {
    width: 100px;
}

#altBtn {
    color: white;
    height: 28px;
}

#inputBaseAmount {
    margin: 0;
    background-color: white;
    color: black;
    width: 150px;
    height: 28px;
}

#submitBtn {
    color: white;
    width: 55px;
}


#exchangeIcon {
    font-size: 1.8rem;
    margin: 0 10px;
    color: white;
}
#exchangeIcon:hover {
    font-size: 1.8rem;
    
}

#chartContainer {
    margin-bottom: 75px;
}

#switchBtn {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: transform 1s;
    transform: rotate(-0deg);
}

#switchBtn:hover {
    transition: transform 1s;
    transform: rotate(180deg);
}

@media (max-width: 767px) {

    #contentsStyle {
        margin-left: 2%;
        margin-right: 2%;
    }    
    #exchangeIcon {
        margin: 0 5px;
    }
    #inputBaseAmount {
        width: 85px;
    }
    #submitBtn {
        padding: 0;
        width: 35px;
    }
    #altBtn {
        padding: 0 2px;
    }
  }


  @media (min-width: 768px) and (max-width: 992px) {
    #contentsStyle {
        margin-left: 10%;
        margin-right: 10%;
    }    

  }