.currCirc {
    width: 80px;
    height: 80px;
    line-height: 25px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
}

.rateStyle {
    font-weight: 700;
    color: white;
}

.rateCurr {
    color:#123c6d;
}

.popperStyle {
    width: 150px;
    height: 150px;
    border: 3px solid rgba(75, 192, 192, 0.8) ;
    border-radius: 5%;
    background-color: rgba(0,0,0,.80);
    padding: .5rem .5rem;
    color: white;
    opacity: 1;
    transition: opacity .7s;
}

.popperStyle-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

.rateBtn {
    font-weight: 700;
    width: 80px;
    height: 80px;
    margin: 4px !important;
    padding: 0;
    border-radius: 50%;  
    color: black;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0 ;
    font-size: 1rem;
    background-color: rgba(166, 168, 175, 0.6);
    outline: none;
}

.rateBtn:hover {
  box-shadow: 0 0 0 0.2rem rgba(52, 76, 102, 0.25);
  font-weight: 900;
  background-color: rgba(103, 105, 110, 0.6) !important;
}


.rateBtn:active {
    background-color: rgba(56, 146, 146, 0.6) !important;
    outline: none;
}


@media (max-width: 767px) {

    .rateBtn {
      width: 78px;
      height: 78px;
  
    }
  
  }
  